{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "endOfLine": "auto",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always"
}
